<?xml version="1.0"?>
<launch>
    
    <!--load empty world--> 
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="false"/>
    </include>

    <!--load custom world-->
    <!--
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find binocular_laser_profile_scanner)/worlds/simple_world.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>
    -->

    <!--spawn model-->
    <param name="robot_description" command="xacro '$(find binocular_laser_profile_scanner)/urdf/binocular_laser_profile_scanner.xacro'"/>
    <node pkg="gazebo_ros" type="spawn_model" name="spawning_urdf"
          args="-urdf -model binocular_laser_profile_scanner -param robot_description" />

    <!--robot state publisher-->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

    <!--load joint position controller-->
    <rosparam file="$(find binocular_laser_profile_scanner)/config/joint_config.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"
    ns="/binocular_laser_profile_scanner"
    args="joint_state_controller 
          rot_table_angular_position_controller 
          scanner_angular_position_controller"/>

</launch>