<?xml version="1.0"?>
<launch>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
    </include>

    <!--spawn model-->
    <param name="robot_description" command="xacro '$(find binocular_laser_profile_scanner)/urdf/binocular_laser_profile_scanner.xacro'"/>
    <node pkg="gazebo_ros" type="spawn_model" name="spawning_urdf"
          args="-urdf -model binocular_laser_profile_scanner -param robot_description" />

    <!--robot state publisher-->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

</launch>